@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {	
    font-family: 'Nanum Gothic', serif;
}
.h1 {
    font-family: 'Nanum Gothic', serif;
}
.h2 {
    font-family: 'Nanum Gothic', serif;
}
.h3 {
    font-family: 'Nanum Gothic', serif;
}